---
import type { GetStaticPaths } from "astro";
// component imports
import CategoryCloud from "@components/CategoryCloud.astro";
import H1 from "@components/ui/H1.astro";
import H2 from "@components/ui/H2.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Pagination from "@components/Pagination.astro";
import PostCard from "@components/PostCard.astro";
// utils import
import { formatBlogPost } from "@js/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const formatedPosts = formatBlogPost(allPosts);
  return paginate(formatedPosts, { pageSize: 4 });
}

const { page } = Astro.props;
---

<MainLayout title={"My Blog"} description="My Home Page">
  <section class="space-y-14 py-10">
    <H1>New Blog Posts</H1>
    <ul class="grid grid-cols-1 gap-10 lg:grid-cols-2">
      {page.data.map((post) => <PostCard {post} />)}
    </ul>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
  <aside aria-label="Blog Categories" class="grid gap-5">
    <H2>Blog categories</H2>
    <CategoryCloud showCount={true} />
  </aside>
</MainLayout>
