---
// component imports
import MainLayout from "@layouts/MainLayout.astro";
import H1 from "@components/ui/H1.astro";
import Link from "@components/Link.astro";
---

<MainLayout title={"About"} description="My About Page">
  <section
    aria-lavel="About Me"
    class="flex max-w-[1000px] flex-col items-start gap-10 lg:flex-row lg:items-end lg:gap-20"
  >
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      class="h-[280px] w-[220px] rounded-full object-cover shadow-2xl shadow-purple-800/70"
    />
    <div class="flex flex-col items-start gap-5">
      <H1>My Blog</H1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In
        reprehenderit ea quo cupiditate et. Ex vel, et perferendis quas dolor
        itaque officiis ducimus accusamus dignissimos a sint reprehenderit sequi
        repudiandae perspiciatis cupiditate delectus iure iusto explicabo
        sapiente? Dolor doloremque eveniet asperiores voluptatibus soluta. Enim
        est animi quam doloribus maiores quis!
      </p>
      <Link
        href="mailto:rostik19wozniak@gmail.com"
        className="rounded-lg bg-black px-5 pb-1.5 pt-1 text-white"
      >
        Contact Me
      </Link>
    </div>
  </section>
</MainLayout>
