---
// components
import Link from "@components/Link.astro";
// lib import
import { formatBlogPost, slugify } from "@js/utils";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formatedPosts = formatBlogPost(allPosts);

const allCategories = formatedPosts
  .map((category) => category.frontmatter.category.toLowerCase())
  .flat();
const processedCategories = allCategories.reduce((acc, category) => {
  // check if category exists
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul class="flex flex-wrap justify-center gap-6">
  {
    Object.entries(processedCategories).map(([key, value]) => (
      <li>
        <a
          class="rounded-lg bg-black px-5 pb-1.5 pt-1 text-white"
          href={`/category/${slugify(key)}`}
        >
          {key} {showCount && `(${value})`}
        </a>
      </li>
    ))
  }
</ul>
